*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0; margin: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right, transparent 10%, white 60%), url(pictures/cowboys-photo.jpg);
    background-repeat: no-repeat;
}

.container{
    z-index: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;

    background-color: #869397;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(40%, 50vw, 6%); padding: 50px;
    border-radius: 60px;
}

        .team-container{
            text-align: center; align-content: center;
            padding: 10px;
            height: 300px;
            background-color: #041E42;
            border-radius: 40px;
        }

                h2{
                    font-family: Cowboys;
                    color: white;
                    font-size: 3rem;
                    margin-bottom: 30px;
                }
                
                    .score{
                        padding: 10px;
                        background-color: white;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
                        width: 60%; height: 50%;
                        border-radius: 10px;
                        margin-left: auto; margin-right: auto;
                    }
                        #team, #opponent{
                            font-family: digital-7;
                            border-top-left-radius: 5px; border-top-right-radius: 5px;
                            font-size: 3rem;
                            background-color: #949494; color: white;
                            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
                            margin-bottom: 30px;
                        }
                        .score > button{
                            cursor: pointer;
                            text-align: center; align-content: center;
                            font-size: 2rem; font-weight: bolder;
                            background-color: #7F9695; color: white;
                            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5), 2px 5px 10px rgba(0, 0, 0, 0.7);
                            width: 60px; height: 40px;
                            border: none; border-radius: 3px;
                            font-family: digital-7;

                            transition: .2s;
                        }
                         .score > button:hover{
                            background-color: white; color: orangered;
                         }
                         
                         .secondaryBtnsContainer{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 5px;
                            margin-top: 5px;
                            width: 100px;
                            margin-left: auto; margin-right: auto;
                            /* border: solid blue 2px; */
                         }
                                .scnd-btns{
                                    align-content: center; text-align: center;
                                    font-family: digital-7; font-weight: 500;
                                    font-size: 1.5rem;
                                    border: none;
                                    background-color: white; color: #7F9695;
                                    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7), 1px 3px 5px rgba(0, 0, 0, 0.7);
                                    border-radius: 3px;

                                    transition: 0.2;
                                }
                                    .scnd-btns:hover{
                                        color: orangered;
                                        opacity: 90%;
                                    }



        .reset-container{
            margin-top: auto; margin-bottom: auto;
            height: 60px;
            padding: 10px;
            border-radius: 8px;
            text-align: center; align-content: center;
        }
                #resetBtn{
                    cursor: pointer;
                    font-weight: bold;
                    color: white;
                    background-color: #003594;
                    width: 80%; height: 40px;
                    border: none; border-radius: 4px;
                    text-align: center; align-content: center;
                    transition: .2s;
                }
                    #resetBtn:hover{
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                    }
                    #resetBtn:active{
                        background-color: white; color: #003594;
                    }




/* media queries section */

/* 1678px */
@media (max-width: 1678px){
    .container{
        display: flex; justify-content: space-evenly; align-items: center;
        flex-direction: column;
    }
    .team-container{
        width: clamp(250px, 50vw, 60%);
    }
    .reset-container{
        width: 150px;
    }
}

/* 878px */
@media (max-width: 878px){
    .score > button{
        width: clamp(40px, 4vw, 60px);
    }
        #team, #opponent{
            margin-bottom: 5px;
        }
    .team-container{
        height: clamp(250px, 27vw, 300px);
    }
    .reset-container{
        padding: 0;
        margin: 0;
        box-shadow: 0;
        height: 25px;
    }
        #resetBtn{
            background-color: orangered; color: white;
            height: 20px;
        }

 }