* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid black 2px;
}

body {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #b0c6c8;
}

img {
  width: 300px;
  margin-bottom: 30px;
}

.topCont {
  height: 38%;
  align-content: end;
  justify-items: center;
}
.noteBar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9c7c7;
  border: solid #428d90 4px;
  border-radius: 50px;
  align-content: center;
  width: 600px;
  height: 80px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.titleInput {
  background: none;
  border: none;
  width: 50%;
  height: 75%;
  outline: none;
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: bolder;
  align-content: center;
}
.titleInput::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  font-weight: bolder;
}

.iconCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  margin-right: 20px;
}
.icon {
  text-align: center;
  align-items: center;
  width: 15px;
  margin: 0;
}

.barBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #428d90;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
}
.barBtns:hover {
  opacity: 80%;
}
.barBtns:active {
  opacity: 100%;
  color: white;
}
.bottomCont {
  display: flex;
  font-weight: bolder;
  align-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  gap: 25px;
  flex-wrap: wrap;
}
.note {
  padding: 30px;
  border-radius: 20px;
  border: #428d90 solid 4px;
  background-color: #b9c7c7;
  width: 600px;
  height: 300px;
}

.title {
  font-size: 1.4rem;
}
.title::before {
  content: "· ";
}
hr {
  height: 2px;
  border: none;
  background-color: #428d90;
  margin: 10px 0px;
}
.noteContent,
.noteContent * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  width: 100%;
  height: 75%;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #428d90;
}
.closeBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transform: translate(100%, 60%);
}
.delContBtn {
  display: flex;
  justify-content: center;
  align-items: centers;
  justify-self: end;
  font-size: 0.8rem;
  font-weight: bolder;
  overflow: hidden;
  width: 20px;
  background-color: #428d90;
  border: none;
  color: rgba(0, 0, 0, 0);

  transition: 0s ease-in-out;
}

.delContBtn:hover {
  overflow: hidden;
  color: rgba(80, 80, 80, 1);
  animation: delHover 0.25s ease-in-out forwards;
}
.delContBtn:not(:hover) {
  animation: delHoverReverse 0.25s ease-in-out forwards;
}

@keyframes delHover {
  0% {
    height: 8px;
  }
  100% {
    height: 20px;
  }
}

@keyframes delHoverReverse {
  0% {
    height: 20px;
  }
  100% {
    height: 8px;
  }
}
