*{
    margin: 0; padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;
}
body{
    min-width: 365px;
    height: 800px;
}
.background{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#428d90, white);
}



/*header section*/
header{
    z-index: 5;
    width: 100%;
    background-color: rgb(210, 210, 210);

    display: flex; justify-content: space-between; align-items: center;

    box-sizing: border-box;

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7), inset 0px 0px 30px rgba(0, 0, 0, 0.7); 

    position: fixed;
}



/*everything below is all the content inside the header*/

    /*THIS IS THE CONTENT OF THE LEFT CONTAINER*/
    .left-container{
        display: flex; justify-content: space-evenly; align-items: center; 

        width: 1000px;
        margin-left: 10px;
    }

        div[class="left-container"] > *{
            height: 80px;
        }
        #picture-container{
            display: flex; justify-content: space-evenly; align-items: center;
        }
            #profilepic{
                display: flex;
                border-radius: 10%;
                height: 75px;
                transition: 0.3s;
                margin-right: 20px;
            }
            #profilepic:hover{
                margin-top: 200px;
                margin-right: 10px;
                height: 200px;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
            }

        
        #menu-section{
            overflow: hidden;
            display: flex; justify-content: space-evenly;
            width: 700px; height: 100%;
            margin-right: 120px;
        }
            .links{
                height: 100px;
                margin-left: 30px;
                text-align: center;
                align-content: center;
                font-weight: bolder; font-size: 20pt; text-decoration: none;
                transition: 0.5s;
            }
            .links:hover{
                font-size: 21pt;
                text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
            }


    .right-contaier{
        display: flex; justify-content: center; align-items: center;
    }
        .hamburger{
            display: none;
            font-size: 1.8rem;
            width: 70px;
            height: 70px;
            align-self: center;
            margin-right: 30px;
            border: none; border-radius: 8px;
            background-color: #428d90;

            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
            transition: .5s;
        }
            .hamburger:hover{
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
            }

        @media (max-width: 870px){

            header{
                display: flex; justify-content: space-between;
            }

            .left-container{
                align-items: center;
                width: 130px;
            }
            #menu-section{
                display: none;
            }
            .links{
                display: none;
                flex-direction: column;
                background-color: #6d6c6c;
                position: absolute;
                top: 60px; /* Adjust for navbar height */
                right: 0;
                width: 100%;
                text-align: center;
                z-index: 1000;
            }

            .links.active{
                display: flex;
            }

            .hamburger{
                display: block;
                cursor: pointer;
            }

        }




/*LANDING PAGE TITLE THIS IS IN MIDDLE OF THE HEADER AND THE MAIN SECTION________________________________________________________________*/


.landing-container{
    flex-wrap: wrap; display: flex; align-items: center; justify-content: space-evenly;
    width: 100%;
    height: 1250px;
    box-sizing: border-box;
}
    .landing{
        flex-direction: column; display: flex; justify-content: center; align-items: center;

        width: 870px;
        height: 400px;
        padding: 30px;

    }

            h4{
                align-content: center;
                text-align: center;
                box-shadow: none;

                font-size: clamp(.5rem, 5vw, 3.5rem);
            }

            #intro-p{
                border-radius: 30px;
                padding: 20px;
                text-align: left;

                width: calc(410px, 5vw, 80%);
                font-size: clamp(1.1rem, 2vw, 1.4rem); font-weight: 500;
            }
            #intro-p::before{
                content: 'Introduction';
                margin-right: 40px;
                text-align: center;
                font-size: 3rem;
                color: #326f71;
            }



/*main section___________________________________________________________________________________________________________________________*/ 
main{
    display: flex; align-items: center; flex-wrap: wrap; justify-content: space-evenly;
    box-shadow: inset 0px 0px 70px rgba(0, 0, 0, 0.7), 0px 0px 70px rgba(0, 0, 0, 0.7);
    
    z-index: 4;
    overflow: hidden;
    background-color: rgb(213, 213, 213);
    height: 800px;
    margin-top: 100px;
    margin-bottom: 200px;
}



    .main-content{

        box-sizing: border-box;

        display: flex; flex-direction: column; gap: 40px;
        align-content: center;

        border-radius: 30px;
        padding: 30px;
        height: 80%;
        width: 20%;
    }
    @media (max-width: 637px){
        #main3{
            gap: 32px;
        }

    }

    @media (max-width: 541px){
        #main2{
            gap: 32px;
        }
    }


      

        div > h2{
            text-align: center; align-content: center; text-wrap: none;

            margin-top: 100px;
            font-size: clamp(.8rem, 2vw, 2rem);
            color: rgb(35, 35, 35);
        }

        ul > li{
            align-content: center; text-align: center; 
            text-wrap: wrap;
            font-size: clamp(.7rem, 1vw, 2rem);

            margin: 30px;
            color: #428d90;
        }





/*THIS IS THE FOOTER SECTION WHICH CONTAINS ALL CONTACT INFORMATION AND SOCIAL MEDIA LINKS*/
footer{
    display: flex; justify-content: space-between;

    padding: 30px;
    background-color: #224243;
    height: 200px;
}
    .cont-info{
        display: flex; justify-content: space-evenly; flex-direction: column;
    }

    .social{
        display: flex;
    }
        .sc{
            width: 20px; height: 20px;
            margin: 0px 20px;
        }
            div[class="sc"] > img{
                width: 100%;
            }


        


/*THIS IS THE ANIMATION SECTION_____________________________________________________________________________________*/
.links{
    animation-name: menu;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;

    color: black;
}
@keyframes menu{
    0%{
        transform: translateY(100%);
    }
    55%{
        transform: translateY(-30%);
    }
    60%{
        transform: translateY(0);
    }
    65%{
        transform: translateY(-30%);
    }
    68%{
        transform: translateY(0);
    }
    73%{
        transform: translateY(-10%);
    }
    78%{
        color: black;
        transform: translateY(0);
    }
    95%{
        color: white;
    }
    100%{

        color: white;
    }
}




.intro{

    color: white;
    animation-name: up;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    

    opacity: 0;
}
@keyframes up{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    60%{
        opacity: 0.6;
        color: white;
    }
    100%{
        transform: translateY(0);
        color: black;
        opacity: 1;
    }
}





        .par1{
            margin-left: 50px;
            max-width: 600px;
            font-size: clamp(.5rem, 4vw, 2rem);

            animation-name: appear1;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;

            opacity: 0;
        }
        @keyframes appear1{
            0%{
                opacity: 0;
                transform: translateX(100%);
            }
            10%{
                opacity: 0;
            }

            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }

        .par2{
            font-size: clamp(3rem, 9vw, 6rem); font-weight: bolder; color: rgb(52, 52, 52); text-shadow: 0px 0px 40px black; 
            background-repeat: no-repeat; 
            background-position: center; 
            background-size: cover;

            animation-delay: 2s;
            animation-name: appear2;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            opacity: 0;
        }


        @keyframes appear2{
            0%{
                opacity: 0;
                transform: translateX(-100%);
            }
            10%{
                opacity: 0;
            }
            40%{
                transform: translateX(0);
            }
            
            100%{
                opacity: 1;
            }
        }


#main1{
    animation: main 0.6s .2s forwards;

    opacity: 0;
}
    #main2{
        animation: main 0.6s .6s forwards;
        
        opacity: 0;
    }
        #main3{
    
            animation: main 0.6s 1s forwards;

            opacity: 0;
        }
            @keyframes main{
                0%{
                    opacity: 0;
                    transform: translateY(-100%);
                }
                100%{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            



